body {
  background-color: #283618;
  font-family: "WDXL Lubrifont TC", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: #fefae0;
}

h1 {
  margin-top: 6vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gamearea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  margin: 15px;
}

.cell {
  background-color: #bc6c25;
  border: 2px solid #553111;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 40px;
  border-radius: 20px;
  transition: 0.3s;
}

.cell:hover {
  background-color: #dda15e;
  transform: scale(1.03);
}

.game-status {
  margin: 10px;
  font-size: 20px;
}

button {
  font-family: "WDXL Lubrifont TC", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  height: 30px;
  width: 140px;
  border: none;
  border-radius: 10px;
  background-color: #606c38;
  color: #fefae0;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  margin: 10px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.06);
}

input {
  width: 150px;
  height: 20px;
  font-family: "WDXL Lubrifont TC", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
