.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}
.cell {
  background-color: red;
  border: 2px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: large;
}

.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}
